.footer {
  padding: 40px;
  background: #fff;
  border-top: 1px solid #eee;
}

.links {
  display: flex;
  gap: 80px;
  justify-content: center;
}

h4 {
  margin-bottom: 10px;
    color:#000000d9;

}

p {
  font-size: 14px;
  cursor: pointer;
  color:#444444d9;

}

.copy {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: gray;
}
